
@{
    ViewBag.Title = "ManagementHome";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>kavtech(updated pages)</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/Dynamic-Table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/assets/css/Login-Red.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/assets/css/popups.css">
    <link rel="stylesheet" href="~/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="#">KAVTECH - Management</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="index.html">HOME</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="about-us.html">ABOUT</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="contact-us.html">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading"></div>
        </div>
        <div class="container">
            <div>
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-1">Home</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-7">Requests</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-9">Short Listed Candidates</a></li>
                    <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-8">Selected Candidates</a></li>
                    <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-10">Chosen Candidates</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" role="tabpanel" id="tab-1" style="padding: 20px;">

                        <a href="RequestJob" id="generate_request_popup" class="btn btn-primary" type="button" style="margin: 25px;">Generate Requests</a>
                        <button class="btn btn-primary" type="button">view Reports</button>
                    </div>

                    <div class="tab-pane" role="tabpanel" id="tab-7">
                        <div class="table-responsive" style="width: 930px;padding: -1px;margin: 0px;">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Rank</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <td>a</td>
                                        <td><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">view</button><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">Accept</button><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">reject</button><button class="modify_request_popup btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">modify</button></td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <td>b</td>
                                        <td><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">view</button><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">Accept</button><button class="btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">reject</button><button class="modify_request_popup btn btn-primary" type="button" style="margin: 0px;margin-right: 10px;">modify</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-8">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Rank</th>
                                        <th>Candidate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>a</td>
                                        <td>Candidate-1</td>
                                        <td><button class="btn btn-primary" type="button" style="margin-right: 10px;">&nbsp;View evaluation</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">choose</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">reject</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>b</td>
                                        <td>Candidate-2</td>
                                        <td><button class="btn btn-primary" type="button" style="margin-right: 10px;">&nbsp;View evaluation</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">choose</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">reject</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-11">
                        <p>Tab content.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-9">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Rank</th>
                                        <th>Candidate</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>a</td>
                                        <td>Candidate-1</td>
                                        <td><button class="btn btn-primary" type="button" style="margin-right: 10px;">view</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">approve</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">reject</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>b</td>
                                        <td>Candidate-2</td>
                                        <td><button class="btn btn-primary" type="button" style="margin-right: 10px;">view</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">approve</button><button class="btn btn-primary" type="button" style="margin-right: 10px;">reject</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane active" role="tabpanel" id="tab-10">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Notification</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>notification-1</td>
                                        <td style="margin: 0px;height: 59px;padding: 5px;"><button class="btn btn-primary" type="button" style="filter: grayscale(0%);margin: 10px;">remove</button></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>notification-2</td>
                                        <td style="width: 600px;padding: 5px;"><button class="btn btn-primary" type="button" style="margin: 10px;"><strong>remove</strong><br></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <p>Content for tab 2.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-3">
                        <p>Content for tab 3.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-4">
                        <p>Tab content.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-5">
                        <p>Tab content.</p>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-6">
                        <p>Tab content.</p>
                    </div>
                </div>
            </div>
        </div>




        <div id="modify_request_Modal" class="modal">
            <div class="modal-content">
                <span class="close">×</span>
                <p>PLEASE MODIFY A REQUEST HERE</p>
                <div class="col-md-6 border border-dark" style="margin: 39px;padding: 38px;margin-right: 47px;margin-left: 231px;">
                    <h1>REQUEST FORM</h1>
                    <form style="margin: 0px 0px;width: 400px;">
                        <div class="form-group"><label for="name">Department</label><input class="form-control item" type="text" id="name"></div>
                        <div class="form-group"><label for="name">Domain</label><input class="form-control item" type="text" id="name"></div>
                        <div class="form-group"><label for="name">Subdomain</label><input class="form-control item" type="text" id="name"></div>
                        <div class="form-group"><label for="name">Experience</label><input class="form-control item" type="text" id="name"></div>
                        <div class="form-group"><label for="name">&nbsp;Vacancies</label><input class="form-control" type="email"></div>
                        <div class="form-group"><label for="name">&nbsp;Employee Type</label><input class="form-control" type="email"></div>
                        <div class="form-group"><label for="name">&nbsp;Description</label><input class="form-control" type="email" style="height: 109px;"></div>
                    </form><button class="btn btn-primary" type="button">MODIFY</button>
                </div>
            </div>
        </div>
    </section>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/assets/js/smoothproducts.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/bs-animation.js"></script>
    <script src="~/assets/js/Dynamic-Table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/assets/js/smoothproducts.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/bs-animation.js"></script>
    <script src="~/assets/js/Dynamic-Table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="~/assets/js/popup_management.js"></script>
</body>

</html>

