
@{
    ViewBag.Title = "RequestJob";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>kavtech(updated pages)</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="~/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/assets/css/Dynamic-Table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="~/assets/css/Login-Red.css">
    <link rel="stylesheet" href="~/assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="~/assets/css/popups.css">
    <link rel="stylesheet" href="~/assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="#">KAVTECH - Management</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="index.html">HOME</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="about-us.html">ABOUT</a></li>
                    <li class="nav-item item" role="presentation"><a class="nav-link" href="contact-us.html">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="generate_request_Modal">
        <div class="modal-content">
            <span class="close">×</span>
            <p>PLEASE GENERATE A REQUEST HERE</p>
            <div class="row">
                <div class="col-md-6 border border-dark" style="margin: 39px;padding: 38px;margin-right: 47px;margin-left: 231px;">
                    <h1>REQUEST FORM</h1>
                    <form style="margin: 0px 0px;width: 400px;">

                        <div class="form-group">
                            <label for="name">Department *</label>
                            <select class="form-control" id="depID" style="margin-left: 0px;">
                                <option value="0" selected>Select</option>
                                <option value="1">Developer</option>
                                <option value="2">QA</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="name">Domain</label>
                            <input class="form-control item" type="text" id="domain">
                        </div>
                        <div class="form-group">
                            <label for="name">Subdomain</label>
                            <input class="form-control item" type="text" id="subdomain">
                        </div>
                        <div class="form-group">
                            <label for="name">Experience</label>
                            <input class="form-control item" type="text" id="experience">
                        </div>
                        <div class="form-group">
                            <label for="name">&nbsp;Vacancies</label>
                            <input class="form-control" type="email" id="vacancy">
                        </div>
                        <div class="form-group">
                            <label for="name">&nbsp;Job Position</label>
                            <input class="form-control" type="email" id="jobPos">
                        </div>
                        <div class="form-group">
                            <label for="name">&nbsp;Expected Join</label>
                            <input class="form-control" type="date" style="height: 109px;" id="Join">
                        </div>
                        <div class="form-group">
                            <label for="name">&nbsp;Description</label>
                            <input class="form-control" type="email" style="height: 109px;" id="Descrip">
                        </div>
                        <div class="form-group">
                            <label for="name">&nbsp;Status of Request</label>
                            <input class="form-control" type="email" style="height: 109px;" id="Status">
                        </div>
                    </form><a id="submit" class="btn btn-primary" >SUBMIT</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/assets/js/smoothproducts.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/bs-animation.js"></script>
    <script src="~/assets/js/Dynamic-Table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="~/assets/js/smoothproducts.min.js"></script>
    <script src="~/assets/js/theme.js"></script>
    <script src="~/assets/js/bs-animation.js"></script>
    <script src="~/assets/js/Dynamic-Table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
<script src="~/assets/js/popup_management.js"></script>
<script>
    $("#submit").click(function () {
        var obj = new Object();
        obj.Dept_no = $("#depID").val();
        obj.Domain = $("#domain").val();
        obj.Sub__Domain = $("#subdomain").val();
        obj.Experience = $("#experience").val();
        obj.Vacancies = $("#vacancy").val();
        obj.Job_Position = $("#jobPos").val();
        obj.Expected_Joining_Date = $("#Join").val();
        obj.Descriptionn = $("#Descrip").val();
        obj.StatusOfReq = $("#Status").val();

        var Url = '@Url.Action("RequestJob", "Management")';
        $.ajax({
            url: Url,
            data: obj,
            type: 'POST',
            success: function (resp) {
                if (resp != null) {
                    window.location.href = "/Management/ManagementHome";
                } 
            },
            error: function (e) {
                alert("Error");
            }
        });
    });
</script>
</body>

</html>